*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    /* transition: all 0.3s; */
    font: 17px/1.55 'Avenir';
    font-style: normal;
}
html{
    overflow-y: hidden;
}
body{
    background-color: #ffffff !important;
    color: #000000;
}
h1,h2{
    color: #000000;
}
.wrapper{
    display: grid;
    grid-template-columns: 250px 1fr;
}
/* Sidebar */
#sidebar{
    text-align: center;
}
#sidebar img{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}
.circle{
    height: 130px;
    background: #ffffff;
    border-radius: 50%;
    width: 130px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}
.sidebar-nav{
    height: 100vh;
    background-color: #8bd4f6;
    
}
.sidebar{
    text-align: center;
}
.sidebar-content{
    margin-top: 4rem;
    display: grid;
    justify-content: end;
    text-align: left;
}
.sidebar-content a{
    font-size: 1.6rem;
    padding: .7rem;
    width: 220px;
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 1rem;
}
.sidebar-content a.active , .sidebar-content a:hover{
    color: #000000 !important;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-logout{
    margin-top: 9rem;
    width: 70%;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: none !important;
    height: 40px !important;
    position: absolute;
    bottom: 1rem;
    width: 210px;
    left: 1rem;
}
.btn-logout:hover{
    background-color: #015c9f !important;
    color: #ffffff !important;
    cursor: pointer;
}

/* topbar */
.topbar-nav{
    display: grid;
    justify-content: end;
    margin-top: 2rem;
}
.topbar-nav .profile-menu a{
    font-size: 1.7rem;
    text-decoration: none;
}
.content{
    margin-top: 2rem !important;
    margin: 0 auto;
    width: 95%;
}

/* Thumbnail */
.thumbnail{
    margin-top: 8rem;
}
.thumbnail .container .card{
    padding: 1.4rem;
    background-color: #8bd4f6;
    color: #000000;
    grid-column-gap: 50px;
}
.thumbnail .container .card .icon{
    width: 40px;
}
.card .info span{
    font-weight: bold;
    font-size: 2rem;
    display: block;
}
.card .info{
    padding-left: 3rem;
    text-align: left;
    white-space:nowrap;
}
.card .info p{
    font-size: 1.7rem;
    margin: 0 ;
}
/* Table */
.table-content{
    overflow: auto;
}
.table-group-divider{
    border-color: #8bd4f6  !important;
}

table thead th{
    color: #000000;
    font-weight: 600 !important;
    font-size: 1rem;
}
table tbody{
    color: #000000;
}
.table tr td:first-child {
    border-right: 1px solid #8bd4f6;
}
.material-table{
    border-top-left-radius: 0;
}
.table{
    text-align: center;
    margin: 0 !important;
}

.action-button{
    cursor: pointer;
}
.action-button:hover{
    color: #FFFFFF;
}
.table tbody tr:hover{
    background-color: rgba(50, 100, 198, .2) !important;
}

/* Pagination */
/* .table tr:last-child {
    border: transparent;
} */

.bottom-pagination{
    margin-top: rem;
}
.page-link{
    background-color:#8bd4f6 !important;
    color: #000000 !important;
    border-radius: 10px !important;
}
.page-item{
    margin-right: 5px !important;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: baseline;
    /* flex-direction: row-reverse; */
}
.pagination-container p{
    color: #000000;
}
.pager{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.page-number{
    width: 75px !important;
    border: 1px solid #8bd4f6 !important;
    border-radius: 30px !important;
}
.nav-tabs .nav-link.active{
    background-color: #8bd4f6 !important;
    color: #e0e8f8 !important;
}
/* Account  */
.header-button{
    padding: 0 !important;
    display: flex;
    gap: .4rem;
    justify-content: end;

}
.btn-add{
    background-color: #8bd4f6 !important;
    border: none !important;
    color: #000000 !important;
}
.btn-add:hover, .page-link:hover{
    background-color: #019cde  !important;
    color: #ffffff !important;
}
/* searchbar */
.searchbar{
    border-radius: 15px;
    outline-color:#8bd4f6 ;
    cursor: pointer;
    background-color: #ffffff;
    border: 3px solid #8bd4f6;
}
.searchbar, .searchbar::placeholder{
    color: #000000;
    padding: .4rem 1.3rem;
}
.btn-bar{
    width: 60px;
    background-color: #3264C6 !important;
    margin: 1rem 1rem 0 0 ;
}
.btn-bar:hover{
    background-color: #0d6efd !important;
}
.bars-icon{
    width: 30px;
    filter: invert(1);
}
.offcanvas-header{
    background: #e0e8f8 !important;
}
.offcanvas-body{
    background: #315CB0 !important;
}
.topbar-content{
    margin-top: 4rem;
    display: grid !important;
    justify-content: center !important;
}
.topbar-content a{
    font-size: 1.6rem;
    padding: .7rem;
    width: 220px;

    text-decoration: none;
    color: #e0e8f8;
    margin-bottom: 1.4rem;
}
.topbar-content a.active{
    color: #315CB0 !important;
    background-color: #e0e8f8;
    border-radius: 50px;
}
.btn-logout-mobile{
    margin-top: 9rem;
    background-color: #4B80EC !important;
    color: #e0e8f8 !important;
    border: none !important;
    height: 40px !important;
    position: absolute;
    bottom: 1rem;
    width: 210px;
    left: 5.6rem;
}

/* Modal */
.modal-header,.modal-footer{
    background: #e0e8f8 !important;
}
.modal-body{
    border-top: 2px solid #315CB0 !important;
    background: #e0e8f8 !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
    #sidebar{
        display: none;
    }
    .wrapper{
        grid-template-columns:1fr;
    }
    html{
        overflow-y: auto;
    }
    .card .info{
        padding-left: 0 !important;
    }
   /*  .table-content .table{
        display: block !important;
        max-width: fit-content !important;
    } */
}

@media (max-width: 1200px) {
    .card .info{
        padding-left: 0 !important;
    }
}

