/* Reboot design*/
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    /* transition: all 0.3s; */
    font: 20px/1.55 'Avenir';
    font-style: normal;
}
body{
    background-color: #ffffff !important;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.topbar{
    display: flex;
    justify-content: space-between;
}
#topbar-nav{
    background-color: #015c9f;
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    align-items:flex-end;
}
#topbar-nav a{
    text-decoration: none;
    color: white;
}
nav a, nav li{
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
}
#thumbnail-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.logo-container img{
    cursor: pointer;
}
.card{
    background: #015c9f ;
    color: white;
    padding: 1rem;
    min-height: 300px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #ccc;
}
.card p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 20rem;
}
.card:hover{
    opacity: .8;
}
.card footer .modules-count{
    position: absolute;
    bottom: 0;
}
/* add button & search */
.header-button{
    padding: 0 !important;
    display: flex;
    gap: .4rem;
    justify-content:space-between;

}
.btn-add{
    background-color: #3264C6 !important;
    border: none;
    color: #e0e8f8;
}
.btn-add:hover{
    opacity: .8 !important;
}
.searchbar{
    border-radius: 10px;
    outline-color:#3264C6 ;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #3264C6;
}
.searchbar, .searchbar::placeholder{
    color: #3264C6;
    padding: .4rem 1.3rem;
}

/* Table */
.table-content{
    overflow: auto;
}
.table-group-divider{
    border-color: #A0B8E8 !important;
}

table thead th{
    color: #3264C6;
    font-weight: 600 !important;
    font-size: 1rem;
}
table tbody{
    color: #3264C6;
}
.table tr td:first-child {
    border-right: 1px solid #A0B8E8;
}
.material-table{
    border-top-left-radius: 0;
}
.table{
    text-align: center;
    margin: 0 !important;
}

.action-button{
    cursor: pointer;
}
.action-button:hover{
    color: #FFFFFF;
}
.table tbody tr:hover{
    background-color: rgba(50, 100, 198, .2) !important;
}
.bottom-pagination{
    margin-top: rem;
}
.page-link{
    background-color:#3264C6 !important;
    color: #FFFFFF !important;
    border-radius: 10px !important;
}
.page-item{
    margin-right: 5px !important;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: baseline;
    /* flex-direction: row-reverse; */
}
.pagination-container p{
    color: #315CB0;
}
.pager{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.page-number{
    text-indent: 5px;
    width: 90px !important;
    border: 1px solid #3264C6 !important;
    border-radius: 30px !important;
}
.require{
    color: red !important;
}
.primary{
    background-color: #015c9f !important;
}
.secondary{
    background-color: #019cde !important;
}
.card.purple {
background: linear-gradient(150deg, #f731db, #4600f1 100%) !important;
}

.card.green {
background: linear-gradient(150deg, #39ef74, #4600f1 100%) ;
}
.dropdown-toggle  {
    background-color: transparent !important;
    border: 0 !important;
}
.dropdown-menu li a  {
    color: #000000 !important;
    font-size: 1rem !important;
}
@media (max-width: 576px) { 
    #thumbnail-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #thumbnail-container .card{
        width: 400px;
        margin: 0 auto;
    }
 }


@media (min-width: 576px) { 
    #thumbnail-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
 }

@media (min-width: 576px) { 
    #thumbnail-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
 }

@media (min-width: 768px) { 
    #thumbnail-container{
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
    }
 }

@media (min-width: 992px) { 
    #thumbnail-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
 }

